<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" lang="pt-br" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fotos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="bg-ligth">
        <div class="container">
            <nav class="navbar navbar-light bg-light navbar-expand-lg">
                <a class="navbar-brand" asp-page="/Index">Rafael e Lili</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" asp-area="" asp-page="/Foto">Foto</a>
                        <a class="nav-item nav-link" asp-area="" asp-page="/MomentoCRUD/Index">Momentos</a>
                        <a class="nav-item nav-link" asp-area="" asp-page="/FotoCRUD/Listar">Lista de Fotos</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <span class="text-dark">&copy; 2024 - Rafael e Lili - Todos os direitos reservados.</span>
        </div>
    </footer>
</body>
</html>